<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <span class="example-spacer"></span>
    <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
      <ul fxLayout fxLayoutGap="15px" class="navigation-items">
        <mat-list-item>
          <a routerLink="/home/registrar">
            <span>{{ header }}</span>
          </a>
        </mat-list-item>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
