<div>
  <mat-card>
    <mat-card-title>
      <h1>Cambio de divisa</h1>
    </mat-card-title>
    <mat-divider></mat-divider>
    <br/>
  <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate="">
    <mat-form-field appearance="outline">
      <mat-label>Moneda Origin</mat-label>
      <mat-select
        formControlName="currencyFrom"
        (selectionChange)="search()"
      >
        <mat-option *ngFor="let currency of currencies; let i=index" [value]="currencies[i].code">
          {{ currencies[i].name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Moneda Destino</mat-label>
      <mat-select
        formControlName="currencyTo"
        (selectionChange)="search()"
      >
        <mat-option *ngFor="let currency of currencies; let i=index" [value]="currencies[i].code">
          {{ currencies[i].name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Monto</mat-label>
      <input formControlName="amount" matInput required maxlength="200" />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="registerForm.invalid"
    >
      Convertir
    </button>
  </form>
  <div>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Tipo de Cambio</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <strong>Variacion: {{ rate }}</strong>
          <br/>
          <strong>Fecha: {{ rateTime }}</strong>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <br/>

  <div *ngIf="showResult">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Resultado</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <strong>Variacion: {{ rateResp }}</strong>
          <br/>
          <strong>Monto: {{ amount }} {{registerForm.value.currencyFrom}}</strong>
          <br/>
          <strong>Monto: {{ finalAmount }} {{registerForm.value.currencyTo}}</strong>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  </mat-card>
</div>
