<div>
  <mat-card>
    <mat-card-title>
      <h1>Historial</h1>
    </mat-card-title>
    <mat-divider></mat-divider>
    <br/>
    <mat-table [dataSource]="dataSource" matSort >
      <ng-container [matColumnDef]="column.name" *ngFor="let column of displayedColumns">
        <mat-header-cell  *matHeaderCellDef mat-sort-header> {{column.realName}} </mat-header-cell>
        <mat-cell  *matCellDef="let element"> {{element[column.name]}} </mat-cell>
      </ng-container>

      <mat-header-row  *matHeaderRowDef="columnsToDisplay"></mat-header-row>
      <mat-row  *matRowDef="let row; columns: columnsToDisplay;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </mat-card>
</div>
