.login100-form {
  min-height: 100vh;
  display: block;
  background-color: #f7f7f7;
  padding: 173px 55px 55px 55px;
}

.login100-form-title {
  width: 100%;
  display: block;
  font-family: Poppins-Regular;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}

.login100-form-input {
  width: 100%;
  display: block;
  font-family: Poppins-Regular;
  line-height: 1.2;
  text-align: center;
}
