<form
  [formGroup]="loginForm"
  (ngSubmit)="signIn()"
  novalidate=""
  class="login100-form validate-form"
>
  <div class="login100-form-title p-b-43">
    <span> Cambio divisa </span>
    <br />
  </div>
  <br />
  <br />

  <div class="login100-form-input">
    <mat-form-field appearance="outline">
      <mat-label>Nombre usuario</mat-label>
      <div class="row">
        <div class="col-sm-12 ">
          <input formControlName="userName" matInput required maxlength="200" />
        </div>
      </div>
      <mat-icon
        style="cursor: pointer; transform: scale(0.8)"
        matSuffix
        (click)="hide = !hide"
      >
        person</mat-icon
      >
    </mat-form-field>
  </div>

  <div class="login100-form-input">
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <div class="row">
        <div class="col-sm-12">
          <input
            formControlName="password"
            matInput
            [type]="hide ? 'text' : 'password'"
            required
            maxlength="200"
          />
        </div>
      </div>
      <mat-icon
        style="cursor: pointer; transform: scale(0.8)"
        matSuffix
        (click)="hide = !hide"
      >
        {{ hide ? "visibility" : "visibility_off" }}</mat-icon
      >
    </mat-form-field>
  </div>

  <div class="login100-form-input">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Iniciar Sesión
    </button>
  </div>
</form>
