<mat-nav-list>
  <a mat-list-item (click)="onSidenavClose('/home/registrar')" [style.display]="registerDisplay">
      <mat-icon>add_box</mat-icon> <span class="nav-caption">Registrar</span>
  </a>
  <!--<a mat-list-item (click)="onSidenavClose('/home/consult')" [style.display]="consultDisplay">
      <mat-icon>calendar_today</mat-icon><span class="nav-caption">Consultas</span>
  </a>-->
  <a mat-list-item (click)="onSidenavClose('/home/historial')" [style.display]="historialDisplay">
      <mat-icon>settings</mat-icon><span class="nav-caption">Historial</span>
  </a>
  <br/>
  <mat-divider></mat-divider>
  <a mat-list-item  (click)="logout()">
    <mat-icon>exit_to_app</mat-icon><span class="nav-caption">Salir</span>
  </a>
</mat-nav-list>
